<section class="">
{{!-- Dog --}}
  <section class="grid grid-cols-1 md:grid-cols-3 gap-4">
    {{#each dogs as |dog|}}
      <div style="height: 400px; border: radius 25%;" class="card">
        <a style="text-decoration:none" href="/dogs/{{dog.id}}">
       
          <p class="text-center text-2xl hover:font-bold" style="font-family: 'Amatic SC', cursive; font-size: 2.0em">{{dog.name}}</p>
          <div class="card-body grid place-items-center">
          <img style="height:250px" src="/images/dogs/{{dog.filename}}" alt="{{dog.description}}" />
          <p>{{dog.name}} is a {{dog.age}} year old, {{dog.size}} sized, {{dog.gender}} {{dog.breed}} with {{dog.color}} fur.</p>
        </div>
  </a>
      </div>
    {{/each}}
  </section>
{{!-- Cat --}}
<section class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4 mb-10">
    {{#each cats as |cat|}}
      
      <div style="height: 400px; border: radius 25%;" class="card">
        <a style="text-decoration:none" href="/cats/{{cat.id}}">
       
          <p class="text-center text-2xl hover:font-bold" style="font-family: 'Amatic SC', cursive; font-size: 2.0em">{{cat.name}}</h2>
          <div class="card-body grid place-items-center	">
          <img style="height:250px" src="/images/cats/{{cat.filename}}" alt="{{cat.description}}" />
          <p>{{cat.name}} is a {{cat.age}} year old, {{cat.size}} sized, {{cat.gender}} {{cat.breed}} with {{cat.color}} fur.</p>
        </div>
        </a>
      </div>
    {{/each}}
  </section>

</section>