<section class="container">
  <section class="flex-row justify-center">
    <div style="height: 400px; width: 400px; border: radius 25%;" class="card">
      <a href="/pets">
        <h2>{{name}}</h2>
        <div class="card-body">
          <img
            style="height:250px"
            src="/images/cats/{{filename}}"
            alt="{{description}}"
          />
          <ul>
            <li>Name: {{name}} </li>
            <li>Age: {{age}} year(s) </li>
            <li>Gender: {{gender}} </li>
            <li>Breed: {{breed}} </li>
            <li>Size: {{size}} </li>
            <li>Color: {{color}} </li>
          </ul>
        </div>
      </a>
    </div>
  </section>
</section>