<section class="container p-10">
  <section class="grid place-items-center">
    <div style=" border: radius 25%;" class="card">
      <a style="text-decoration:none" href="/pets">
        <h2 style="font-family: 'Amatic SC', cursive; font-size: 2.0em">{{name}}</h2>
        <div class="card-body">
          <img
            style="height: 500px"
            src="/images/cats/{{filename}}"
            alt="{{description}}"
          />
          <ul>
            <li>Name: {{name}} </li>
            <li>Age: {{age}} year(s) </li>
            <li>Gender: {{gender}} </li>
            <li>Breed: {{breed}} </li>
            <li>Size: {{size}} </li>
            <li>Color: {{color}} </li>
          </ul>
        </div>
      </a>
    </div>
  </section>
</section>